/* .semaforo {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-direction: column;
    margin: auto;
    background: rgb(0, 0, 0);
    height: auto;
    width: 400px;
    border-radius: 10px;
    padding: 1%;
    border: rgb(150, 143, 143) 8px inset
}
 */

/* .button {
    HACER LUEGO
} */


/* Luz Brillante para el semaforo
boxShadow: `${color == "red" ? "0px 0px 100px 50px rgb(255, 34, 0)" : ""}`
					}} >
 */